@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.movie-container {
  margin: 10px 0;
  font-size: large;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: green;
  height: 22px;
  width: 32px;
  margin: 3px;
  font-size: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.seat.selected {
  background-color: yellow;
}

.seat.sold {
  background-color: blue;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.sold):hover {
  cursor: pointer;
  transform: scale(1.2);
}
.heading{
  font-size: 20px;
}
.showcase .seat:not(.sold):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 120px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-48deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
  font-size: 20px;
}

p.text span {
  color: rgb(158, 248, 158);
}
.page-navigation {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: large;
}
.page-navigation a {
  display: inline-block;
  padding: 20px 40px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  border-radius: 10px;
}
.genre{
  height: 1000px;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-size: 23px; 
}
.search{
  width: 100%;
  min-height: 25vh;
  padding: 5%;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-bar{
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 0px 20px;
  
}
.search-bar input{
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  padding: 24px 20px;
  font-size: 20px;
  color: #cac7ff;
}
::placeholder{
  color: #cac7ff;
}
.search-bar button img{
  width: 25px;
}
.search-bar button{
  border: 0;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background: #58629b;
  cursor: pointer;
}
.error-message{
  color: red;
  font-size: 15px;
}
#countdown{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  margin: 5;
  height: 10px;
  width: 200px;
}
.next{
  font-size: 20px;
}
